<div class="ed-container">
  <figure class="ed-item abcenter">
    <img src="assets/star.svg" alt="logo">
  </figure>
  
<a class="github-button" href="https://github.com/CarlosManotas/star-wars-ng2" data-icon="octicon-star" data-count-href="/CarlosManotas/star-wars-ng2/stargazers" data-count-api="/repos/CarlosManotas/star-wars-ng2#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star CarlosManotas/star-wars-ng2 on GitHub">Star</a>
</div>
<main *ngIf ='stars' class="ed-container">
  <ul class=" ed-item s100 m50">
     <li  *ngFor ='let one of stars.results; let i = index;'>
       <div class="lista lista-{{i}}"
       (click)="show(stars.results[i])">
           <h2>{{one.name}}</h2>
       </div>
     </li>
     <div class="btn">
       <button *ngIf='stars.next !== null' (click)="next(stars.next)">next</button>
       <button *ngIf='stars.previous !== null' (click)="next(stars.previous)">previous</button>
     </div>
  </ul>
  <div class="ed-item s100 m50" *ngIf="jsonData">
    <figure class="wars">
      <img src="assets/person/{{jsonData.name}}.png" alt="">
      <a routerLink="/people/{{jsonData.url.substring(jsonData.url.length - 3)}}" routerLinkActive="active"><button type="button" name="button"> + Info </button> </a>
    </figure>
  </div>
</main>
